/* Helpers */

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* */

body{
    margin: 0;
}

nav ul {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

body{
    font:16px/24px Helvetica, Helvetica Neue, Arial, sans-serif;
}

.wrapper {
    width: 90%;
    margin: 0px 5%;
}

/* Color Theme */
#header-container { border-bottom: 20px solid #777777; }
#footer-container { border-top: 20px solid #777777; }
#main aside { border-top: 20px solid #777777; }

#header-container,
#footer-container,
#main aside {
    background: #dcdcdc;
}

.title {
    color: white;
}

/* Mobile Layout*/

nav a{
	display:block;
	margin-bottom:10px;
	padding:0 0;

	background:#777777;
	color:white;

	text-align:center;
	text-decoration:none;
	font-weight:bold;
}

nav a:hover, nav a:visited{
	color:white;
}

nav a:hover{
	text-decoration:underline;
}

#main{
	padding:30px 0;
}

#main aside{
	color:white;
	padding:0px 5% 10px;
}

#footer-container footer{
	color:white;
	padding:20px 0;
}

/* Medium screens */
@media only screen and (min-width:480px) {

    nav a{
	float:left;
	width:27%;
	margin:0 1.7%;
	padding:0 2%;
	margin-bottom:0;
    }
    
    nav li:first-child a{ margin-left:0;  }
    nav li:last-child  a{ margin-right:0; }
    
}

/* Wide screens */
@media only screen and (min-width:768px) {

    #header-container,
    #main aside {
	-webkit-box-shadow:0 5px 10px #aaa;
	-moz-box-shadow:0 5px 10px #aaa;
	box-shadow:0 5px 10px #aaa;
    }


    .title{
	float:left;
    }
    
    nav{
	float:right;
	width:38%;
        margin-top: 82px;
    }

    #main article {
        float: left;
        width: 57%;
    }

    #main aside {
        float: right;
        width: 28%;
    }
}

/* Full Width */
@media only screen and (min-width:1140px) {
    .wrapper {
        width: 1026px;
        margin: 0px auto;
    }
}