$base-font-size: 18px;
$base-line-height: 25px;

@import "vertical_rhythm";

body {
    @include establish_baseline;
}

@media screen {
body {
   max-width: 700px;
   margin: 0px auto;
   /* padding: 18px; */
   background: whitesmoke;
   font-family: Georgia, Garamond, "Times New Roman", serif;
}

body.rhythm {
    background-image: -webkit-linear-gradient(rgba(255,255,255,.7) 50%, transparent 50%);
    background-image: linear-gradient(rgba(255,255,255,.7) 50%, transparent 50%);
    background-size: auto 50px;
}

a { text-decoration: none; color: #339; }
a:hover { text-decoration: underline; color: #33f; }

h1, h2, h3, h4 {
   font-family: Helvetica, sans-serif;
}

/* @group Header */
body > header {
   position: relative;
   color: gray;
}

body > header h1 {
    //@include adjust-font-size-to(30px);
@include adjust-leading-to(0.5);
    display: block;
    font-weight: normal;
}

body > header h1 a {
    color: gray;
}

body > header h2 {
    @include adjust-font-size-to(18px);
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
}
/* @end Header */

/* @group Navigation */
nav, nav a { color: gray; }
nav:hover a:hover { text-decoration: none; }
nav {
   display: block;
   border-bottom: 1px solid gray;
}
nav ul {
   font-family: Helvetica, sans-serif;
   font-size: 100%;
   padding-left: 0;
   margin: 0;
}
nav ul li { display: inline; }
nav ul li a {
   padding: 0.4em 0.3em 0 0;
   display: inline;
}
nav ul li+li a {
   padding: 0.4em 0.3em 0 0.3em;
}
nav ul li a:hover {
   color: #33f;
}

body#Home nav a#Home, 
body#Archive nav a#Archive 
{ 
   border-bottom: 2px solid gray; 
}

body#Home nav a:hover#Home, 
body#Archive nav a:hover#Archive 
{ 
   border-bottom: 2px solid #33f; 
}

/* @end Navigation */

/* @group Footer */
footer {
   display: block;
   color: gray;
   font-family: Helvetica, sans-serif;
   font-size: 0.9em;
   border-top: 1px solid gray;
}
/* @end Footer */
}

/* @group Article */
article header {
    font-family: Helvetica, sans-serif;
}

article header p {
    font-style: italic;
}

article > h1, h2, h3 {
    font-family: Helvetica, sans-serif;
}

article header h1 {
    font-size: 2em;
    margin-top: 25px;
    margin-bottom: 25px;
    line-height: 50px;
}

article p {
    margin-top: 25px;
    margin-bottom: 25px;
}


p,ul,ol,dl,blockquote,pre {margin: 0 0 25px;}

hr {
    margin-top: -14px;
    margin-bottom: -13px;
    border-width: 1px 0 0 0;
}

/* Superscript and subscript that don't screw with line spacing.
   from http://www.cs.tut.fi/~jkorpela/www/linespacing.html
*/
sup, sub {
    vertical-align: 0;
    position: relative;
}

sup {
    bottom: 1ex;
}

sub {
    top: 0.8ex;
}

/*
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none; }
 
  a, a:visited { color: #444 !important; text-decoration: underline; }
 
  a:after { content: " (" attr(href) ")"; }
 
  abbr:after { content: " (" attr(title) ")"; }
   
  .ir a:after { content: ""; }  /* Don't show links for images */
   
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
   
  img { page-break-inside: avoid; }
 
  @page { margin: 0.5cm; }
 
  p, h2, h3 { orphans: 3; widows: 3; }
 
  h2, h3{ page-break-after: avoid; }

  body > header, nav{ display: none; } /* Turn off site headers and navigation elements. */
}
