@import url("bootstrap.css");

html,
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Wrapper for page content to push down footer */
#wrap {
    flex: 1;
}

/* Set the fixed height of the footer here */
footer {
    width: 100%;
    background-color: #f5f5f5;
}
