body {
   margin-left: 200px;
   margin-right: 200px;
   background: whitesmoke;
   font-family: Georgia, Garamond, "Times New Roman", serif;
}

a { text-decoration: none; color: #339; }
a:hover { text-decoration: underline; color: #33f; }

/* @group Header */
header {
   position: relative;
   font-family: Helvetica;
   line-height: 1em;
   margin-top: .5em;
   margin-bottom: .5em;
   color: gray;
}

header h1 {
   margin-bottom: 0;
   line-height: 0.9em;
   display: block;
   font-weight: normal;
}

header h2 {
   font-size: 0.9em;
   font-weight: normal;
}
/* @end Header */

/* @group Navigation */
nav, nav a { color: gray; }
nav:hover a:hover { text-decoration: none; }
nav {
   display: block;
   border-bottom: 1px solid gray;
}
nav ul {
   font-family: Helvetica;
   font-size: 100%;
   line-height: 1.6em;
   padding-left: 0;
   margin: 0;
   width: 50%;
}
nav ul li { display: inline; }
nav ul li a {
   padding: 0.4em 0.3em 0 0.3em;
   display: inline;
}
nav ul li a:hover {
   color: #33f;
   border-bottom: 2px solid #33f;
}

body#Home nav a#Home, 
body#Reference nav a#Reference, 
body#About nav a#About,
body#Projects nav a#Projects
{ 
   border-bottom: 2px solid gray; 
}
/* @end Navigation */

/* @group Footer */
footer {
   display: block;
   color: gray;
   font-family: Helvetica;
   font-size: 0.9em;
   border-top: 1px solid gray;
}
/* @end Footer */