<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="/media/responsive.css" />
    <link rel="stylesheet" href="/media/xcode.css" />
    <script src="/media/highlight.pack.js"></script>
    <title>$title</title>
  </head>
  <body>
    <div id="header-container">
      <header class="wrapper clearfix">
        <div class="title">
          <h1>Phillip Dixon</h1>
          <p>Obscure things, but they interest me.</p>
        </div>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/archive.html">Archive</a></li>
          </ul>
        </nav>
      </header>
    </div>
    <div id="main" class="wrapper clearfix">
      <article>
        <header>
          <h1>$title</h1>
          <p>
            <time class="timeago" datetime="$date">$date</time>
          </p>
        </header>
        $body
      </article>
    </div>
    <div id="footer-container">
      <footer class="wrapper">
        <p>
          &#169; 2009&#8211;12 <a href="/">Phillip Dixon</a>
          ( <a rel="license"
               href="http://creativecommons.org/licenses/by-nc-nd/3.0/nz/">Some
            rights reserved</a> )
        </p>
      </footer>
    </div>
  </body>
</html>
